Repository salesforce/design-system-react, pull requests merged in 2018-11, with the labels that each got.

#1610 Press letter scroll jump read only combobox
  components/combobox/__tests__/combobox.browser-test.jsx
  components/combobox/combobox.jsx
  components/combobox/private/menu.jsx
  components/component-docs.json
  utilities/key-callbacks.js
  utilities/key-letter-menu-item-select.js
  utilities/menu-item-select-scroll.js
Labels: combobox

#1630 Replace PhantomJS with Headless Chrome
  .travis.yml
  karma.conf.js
  package.json
Labels: scale and productivity

#1640 Remove <title> from illustrations.
  assets/images/illustrations/empty-state-no-access.svg
  assets/images/illustrations/empty-state-not-available-in-lightning.svg
  components/component-docs.json
  components/illustration/index.jsx
Labels: cla:signed, illustration

#1590 Datepicker: Move custom input props to input render prop instead of children prop
  components/date-picker/__examples__/custom-input.jsx
  components/date-picker/__tests__/date-picker.browser-test.jsx
  components/date-picker/check-props.js
  components/date-picker/date-picker.jsx
Labels: date-picker

#1643 Combobox filter: Remove selected options based on `option.id` alone.
  components/combobox/filter.js
Labels: cla:signed

#1650 Make combobox filtering more performant by not creating RegExp in a loop
  components/combobox/filter.js
Labels: cla:signed

#1646 Disable increment/decrement when min/max is hit
  components/component-docs.json
  components/input/__tests__/input.browser-test.jsx
  components/input/index.jsx
Labels: forms: input
