Repository salesforce/design-system-react, pull requests merged in 2018-12, with the labels that each got.

#1660 Combobox/PillContainer: Tab propagation and pill aria selected state
  components/combobox/__tests__/__snapshots__/combobox.snapshot-test.jsx.snap
  components/combobox/combobox.jsx
  components/pill-container/private/selected-listbox.jsx
  components/utilities/pill/index.jsx
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
  utilities/key-callbacks.js
Labels: combobox, pills

#1661 Input inlineHelpText can be `node` as well as `string`.
  components/input/private/inner-input.jsx
Labels: cla:signed, forms: input

#1663 Pill: Remove checkprops since it is production now
  components/pill/check-props.js
  components/pill/index.jsx
Labels: pills

#1664 Upgrade package-lock.json
  package-lock.json
Labels: test task

#1657 Tree: Update single select example to expand branch on click
  components/tree/__docs__/storybook-stories.jsx
  components/tree/__examples__/default.jsx
Labels: tree

#1677 Export DataTableHighlightCell in npm module
  components/index.js
Labels: maintenance-task

#1673 Adds className prop to Panel.
  components/component-docs.json
  components/panel/index.jsx
Labels: panel

#1682 0.8.x color picker accessibility fixes
  components/color-picker/__docs__/storybook-stories.jsx
  components/color-picker/docs.json
  components/color-picker/index.jsx
  components/color-picker/private/hsv-color.jsx
  components/color-picker/private/swatch-option.jsx
  components/color-picker/private/swatch-picker.jsx
  components/color-picker/private/swatch.jsx
  package-lock.json
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
Labels: colorpicker

#1683 add missing slds classes for inputs
  components/modal/__examples__/menu-contents.jsx
Labels: cla:signed

#1700 Enable DataTable Event Listeners
  components/data-table/__examples__/fixed-header.jsx
  components/data-table/index.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-data-table-fixed-header-1-snap.png
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
Labels: data-table

#1703 Re-organize codebase overview and Add max file line lint rule
  .eslintrc.js
  CONTRIBUTING.md
  components/app-launcher/__docs__/storybook-stories.jsx
  components/color-picker/__tests__/color-picker.browser-test.jsx
  components/color-picker/index.jsx
  components/combobox/__tests__/combobox.browser-test.jsx
  components/combobox/combobox.jsx
  components/data-table/__tests__/data-table.browser-test.jsx
  components/data-table/index.jsx
  components/date-picker/date-picker.jsx
  components/input/__tests__/input.browser-test.jsx
  components/input/index.jsx
  components/lookup/lookup.jsx
  components/menu-dropdown/__tests__/dropdown.browser-test.jsx
  components/menu-dropdown/menu-dropdown.jsx
  components/menu-picklist/index.jsx
  components/popover/popover.jsx
  components/tabs/__docs__/storybook-stories.jsx
  docs/codebase-overview.md
  package.json
  utilities/sample-data/tree/nodes-with-large-dataset.js
Labels: documentation

#1704 Add AppLauncher Tile and Section to main export
  components/app-launcher/index.jsx
  components/index.js
Labels: app-launcher
