Repository salesforce/design-system-react, pull requests merged in 2018-08, with the labels that each got.

#1478 Add Spinner to doc site
  components/component-docs.json
  components/site-stories.js
  components/spinner/__examples__/default.jsx
  components/spinner/index.jsx
  package.json
Labels: spinner

#1404 Make Dialog positioning more robust
  RELEASENOTES.md
  components/combobox/__tests__/__snapshots__/combobox.snapshot-test.jsx.snap
  components/filter/__tests__/__snapshots__/filter.snapshot-test.jsx.snap
  components/menu-dropdown/check-props.js
  components/menu-dropdown/menu-dropdown.jsx
  components/panel/__tests__/__snapshots__/filtering.snapshot-test.jsx.snap
  components/popover/__docs__/storybook-stories.jsx
  components/popover/__tests__/popover.browser-test.jsx
  components/popover/check-props.js
  components/popover/popover.jsx
  components/tooltip/index.jsx
  components/utilities/dialog/__docs__/storybook-stories.jsx
  components/utilities/dialog/index.jsx
  utilities/dialog-helpers.js
Labels: cla:signed

#1477 Datepicker: Increase default years, 5 to 10 years
  components/date-picker/date-picker.jsx
Labels: date-picker

#1476 Move Navigation to VerticalNavigation
  components/index.js
  components/navigation/index.jsx
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  components/vertical-navigation/__docs__/site-stories.js
  components/vertical-navigation/__docs__/storybook-stories.jsx
  components/vertical-navigation/__examples__/default.jsx
  components/vertical-navigation/__examples__/shade.jsx
  components/vertical-navigation/__examples__/snapshot-default.jsx
  components/vertical-navigation/__tests__/__snapshots__/navigation.snapshot-test.jsx.snap
  components/vertical-navigation/__tests__/navigation.browser-test.jsx
  components/vertical-navigation/__tests__/navigation.snapshot-test.jsx
  components/vertical-navigation/index.jsx
  components/vertical-navigation/private/item.jsx
  package.json
  utilities/constants.js
  utilities/sample-data/vertical-navigation/index.jsx
Labels: vertical-navigation

#1483 Dropdown: Document that default menu height is 5
  components/component-docs.json
  components/menu-dropdown/menu-dropdown.jsx
Labels: documentation, menu-dropdown

#1485 Combobox: Clarify prop docs
  components/combobox/__examples__/readonly-multiple.jsx
  components/combobox/__examples__/readonly-single.jsx
  components/combobox/combobox.jsx
Labels: combobox, documentation

#1490 Deprecate this one little weird Modal Trigger trick your grandmother knew about
  components/modal/trigger.jsx
Labels: documentation

#1496 Update react-doc-gen version
  components/component-docs.json
  package-lock.json
  package.json
Labels: documentation, test task

#1487 DataTable onChange replaced with onRowChange
  components/data-table/__examples__/advanced.jsx
  components/data-table/__tests__/data-table.browser-test.jsx
  components/data-table/check-props.js
  components/data-table/index.jsx
Labels: data-table

#1495 Hotfix GlobalHeaderButton invalid markup when used within GlobalHeaderTrigger
  components/global-header/button.jsx
  components/global-header/private/dropdown-trigger.jsx
Labels: cla:signed

#1489 Moved components warning
  components/bread-crumb/index.jsx
  components/forms/input/index.jsx
  components/forms/radio/index.jsx
  components/forms/textarea/index.jsx
  components/navigation/index.jsx
  components/popover-tooltip/index.jsx
  utilities/warning/component-has-moved.js
Labels: documentation

#1499 Tree: Allow label to be a React node
  components/tree/index.jsx
Labels: documentation, tree

#1505 SLDSDatePicker bug fix: Fixing issue where year picker doesn't show years correctly
  components/date-picker/__tests__/__snapshots__/datepicker.snapshot-test.jsx.snap
  components/date-picker/private/navigation.jsx
  components/date-picker/private/year-picklist.jsx
Labels: date-picker

#1491 Add Field Level Help and Inline Help variants to Input
  components/component-docs.json
  components/input/__docs__/site-stories.js
  components/input/__docs__/storybook-stories.jsx
  components/input/__examples__/field-level-help.jsx
  components/input/__examples__/inline-help.jsx
  components/input/__tests__/input.browser-test.jsx
  components/input/index.jsx
  components/input/private/inner-input.jsx
  components/story-based-tests.js
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-base-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-base-with-icons-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-disabled-input-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-field-level-help-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-field-level-help-tooltip-open-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-fixed-text-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-inline-help-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-read-only-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-required-input-in-error-state-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-static-input-1-snap.png
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
Labels: forms: input

#1468 Support developing with React 16, and as a peer dependency
  components/accordion/__tests__/accordion.browser-test.jsx
  components/alert/__tests__/alert.browser-test.jsx
  components/app-launcher/__tests__/app-launcher.browser-test.jsx
  components/app-launcher/__tests__/section.browser-test.jsx
  components/app-launcher/__tests__/tile.browser-test.jsx
  components/avatar/__tests__/avatar.browser-test.jsx
  components/button-group/__tests__/button-group.browser-test.jsx
  components/button-group/__tests__/button-group.snapshot-test.jsx
  components/button/__tests__/button.browser-test.jsx
  components/combobox/__tests__/__snapshots__/combobox.snapshot-test.jsx.snap
  components/combobox/__tests__/combobox.browser-test.jsx
  components/data-table/__tests__/__snapshots__/data-table.snapshot-test.jsx.snap
  components/data-table/__tests__/data-table.browser-test.jsx
  components/date-picker/__tests__/__snapshots__/datepicker.snapshot-test.jsx.snap
  components/date-picker/__tests__/date-picker.browser-test.jsx
  components/filter/__tests__/__snapshots__/filter.snapshot-test.jsx.snap
  components/filter/__tests__/filter.snapshot-test.jsx
  components/forms/input/__tests__/inline.browser-test.jsx
  components/global-navigation-bar/__tests__/global-navigation-bar.browser-test.jsx
  components/icon/__tests__/icon.browser-test.jsx
  components/illustration/__tests__/illustration.browser-test.jsx
  components/input/__tests__/input.browser-test.jsx
  components/lookup/__tests__/lookup.browser-test.jsx
  components/menu-dropdown/__tests__/dropdown.browser-test.jsx
  components/menu-picklist/__tests__/__snapshots__/menupicklist.snapshot-test.jsx.snap
  components/menu-picklist/__tests__/picklist-base.browser-test.jsx
  components/modal/__tests__/modal.browser-test.jsx
  components/notification/__tests__/notification.browser-test.jsx
  components/page-header/__tests__/page-header.browser-test.jsx
  components/panel/__tests__/__snapshots__/filtering.snapshot-test.jsx.snap
  components/panel/__tests__/filtering.snapshot-test.jsx
  components/pill/__examples__/base.jsx
  components/pill/__examples__/container.jsx
  components/pill/__examples__/icon.jsx
  components/pill/__examples__/listbox-avatar.jsx
  components/pill/__examples__/listbox-bare.jsx
  components/pill/__examples__/listbox-icon.jsx
  components/pill/__examples__/listbox.jsx
  components/pill/__tests__/__snapshots__/pill.snapshot-test.jsx.snap
  components/pill/__tests__/pill.browser-test.jsx
  components/popover/__tests__/popover.browser-test.jsx
  components/progress-indicator/__tests__/progress-indicator.browser-test.jsx
  components/radio-button-group/__tests__/radio-button-group.browser-test.jsx
  components/radio-group/__tests__/radio-group.browser-test.jsx
  components/slider/__tests__/__snapshots__/slider.snapshot-test.jsx.snap
  components/slider/__tests__/slider.browser-test.jsx
  components/split-view/__tests__/__snapshots__/split-view.snapshot-test.jsx.snap
  components/split-view/__tests__/split-view.listbox.browser-test.jsx
  components/tabs/__tests__/tabs.browser-test.jsx
  components/textarea/__tests__/textarea.browser-test.jsx
  components/time-picker/__tests__/time-picker.browser-test.jsx
  components/toast/__tests__/toast.browser-test.jsx
  components/tooltip/__tests__/tooltip.browser-test.jsx
  components/tree/__tests__/tree.browser-test.jsx
  package-lock.json
  package.json
  tests/enzyme-helpers.js
Labels: maintenance-task

#1513 Fix CommonJS constant import
  components/checkbox/__docs__/storybook-stories.jsx
  components/checkbox/index.jsx
  components/input/__docs__/search/storybook-stories.jsx
  components/input/__docs__/storybook-stories.jsx
  components/input/check-props.js
  components/input/index.jsx
  components/input/search.jsx
  components/navigation/index.jsx
  components/textarea/__docs__/storybook-stories.jsx
  components/textarea/index.jsx
  utilities/constants.js
  utilities/warning/is-trigger-tabbable.js
Labels: forms: input

#1506 Clarify adding a new component instructions
  CONTRIBUTING.md
Labels: documentation

#1515 Use Tooltip instead of PopoverTooltip internally
  components/app-launcher/tile.jsx
  components/button/index.jsx
  components/menu-picklist/__examples__/tooltip-list-item.jsx
  components/page-header/__docs__/storybook-stories.jsx
  components/page-header/private/detail-block.jsx
  components/tooltip/__docs__/storybook-stories.jsx
  components/tooltip/__examples__/base.jsx
  components/tooltip/__examples__/button-group.jsx
  components/tooltip/__examples__/button.jsx
  components/tooltip/__tests__/tooltip.browser-test.jsx
Labels: cla:signed

#1508 Brand Band component
  components/brand-band/__docs__/site-stories.js
  components/brand-band/__docs__/storybook-stories.jsx
  components/brand-band/__examples__/default.jsx
  components/brand-band/__examples__/large.jsx
  components/brand-band/__examples__/lightning-blue-theme.jsx
  components/brand-band/__examples__/no-image.jsx
  components/brand-band/__examples__/small.jsx
  components/brand-band/index.jsx
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-brand-band-default-medium-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-brand-band-large-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-brand-band-lightning-blue-theme-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-brand-band-no-image-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-brand-band-small-1-snap.png
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
  utilities/constants.js
Labels: brand-band
