Repository salesforce/design-system-react, pull requests merged in 2019-06, with the labels that each got.

#1964 Add Setup Assistant Component
  components/progress-indicator/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-indicator/index.jsx
  components/progress-indicator/private/progress.jsx
  components/progress-indicator/private/step-vertical.jsx
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  components/setup-assistant/__docs__/site-stories.js
  components/setup-assistant/__docs__/storybook-stories.jsx
  components/setup-assistant/__examples__/base.jsx
  components/setup-assistant/__examples__/card.jsx
  components/setup-assistant/__examples__/hub-expandable-steps.jsx
  components/setup-assistant/__examples__/step-progress.jsx
  components/setup-assistant/__tests__/setup-assistant.browser-test.jsx
  components/setup-assistant/check-props.js
  components/setup-assistant/docs.json
  components/setup-assistant/index.jsx
  components/setup-assistant/step.jsx
  components/story-based-tests.js
  components/storybook-stories.js
  package-lock.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-base-variant-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-hub-with-expandable-steps-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-in-a-card-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-with-step-progress-1-snap.png
  utilities/constants.js
  utilities/warning/has-children-without-display-name-of.js
Labels: cla:signed

#2002 Codebase: Add default prop change warning
  docs/codebase-overview.md
Labels: documentation

#1939 ButtonGroup: Adds `list` variant
  components/button-group/__docs__/__snapshots__/storybook-stories.storyshot
  components/button-group/__docs__/site-stories.js
  components/button-group/__docs__/storybook-stories.jsx
  components/button-group/__examples__/list-variant.jsx
  components/button-group/index.jsx
  components/component-docs.json
  components/tooltip/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/__examples__/button-group.jsx
  components/tooltip/index.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-button-group-list-variant-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-button-group-1-snap.png
Labels: button-group, cla:signed

#2022 Setup Assistant With Steps: Incorrect Formatting Bugfix
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  components/setup-assistant/step.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-hub-with-expandable-steps-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-in-a-card-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-with-step-progress-1-snap.png
Labels: setup-assistant

#1904 ColorPicker: Removes differences in SLDS Color Picker and DSR Color picker
  components/color-picker/__docs__/__snapshots__/storybook-stories.storyshot
  components/color-picker/index.jsx
  components/color-picker/private/swatch-option.jsx
  components/color-picker/private/swatch.jsx
  components/component-docs.json
  components/popover/popover.jsx
  components/tabs/private/tab.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-color-picker-color-picker-menu-open-1-snap.png
Labels: cla:signed

#2029 Fix Setup Assistant design critique fixes
  components/progress-indicator/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-indicator/private/progress.jsx
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  components/setup-assistant/step.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-indicator-setup-assistant-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-base-variant-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-hub-with-expandable-steps-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-in-a-card-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-with-step-progress-1-snap.png
Labels: setup-assistant

#2005 Combobox dialog example fix
  components/combobox/__examples__/dialog.jsx
Labels: cla:signed, combobox, forms: checkbox

#2030 Radio Group: Update labels from props after instance construction
  components/radio-group/index.jsx
Labels: radio

#2032 Merge Radio Button Group and Radio Group
  components/radio-button-group/index.jsx
  components/radio-group/index.jsx
Labels: radio

#2037 Setup assistant pre-release cleanup
  components/component-docs.json
  components/index.js
  components/setup-assistant/__examples__/base.jsx
  components/setup-assistant/__examples__/card.jsx
  components/setup-assistant/__examples__/hub-expandable-steps.jsx
  components/setup-assistant/__examples__/step-progress.jsx
  components/setup-assistant/step.jsx
  components/site-stories.js
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-base-variant-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-hub-with-expandable-steps-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-in-a-card-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-with-step-progress-1-snap.png
Labels: setup-assistant

#2052 Builder Header: Fixes typo
  components/builder-header/nav.jsx
  components/component-docs.json
Labels: cla:signed

#1786 Add Visual Picker Component
  components/checkbox/check-props.js
  components/checkbox/index.jsx
  components/component-docs.json
  components/data-table/__docs__/__snapshots__/storybook-stories.storyshot
  components/index.js
  components/radio/__docs__/__snapshots__/storybook-stories.storyshot
  components/radio/__examples__/default.jsx
  components/radio/__examples__/disabled.jsx
  components/radio/check-props.js
  components/radio/index.jsx
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  components/visual-picker/__docs__/__snapshots__/storybook-stories.storyshot
  components/visual-picker/__docs__/site-stories.js
  components/visual-picker/__docs__/storybook-stories.jsx
  components/visual-picker/__examples__/coverable.jsx
  components/visual-picker/__examples__/links.jsx
  components/visual-picker/__examples__/non-coverable.jsx
  components/visual-picker/__examples__/vertical-coverable.jsx
  components/visual-picker/__examples__/vertical.jsx
  components/visual-picker/__tests__/visual-picker.browser-test.jsx
  components/visual-picker/docs.json
  components/visual-picker/index.jsx
  components/visual-picker/link.jsx
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-assistive-text-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-checked-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-default-indeterminate-required-disabled-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-indeterminate-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-toggle-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-toggle-assistive-text-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-toggle-checked-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-toggle-disabled-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-toggle-required-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-checkbox-toggle-with-error-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-doc-site-error-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-doc-site-snapshot-base-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-doc-site-snapshot-toggle-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-checkbox-doc-site-toggle-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-radio-base-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-radio-docs-site-disabled-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-visual-picker-coverable-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-visual-picker-links-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-visual-picker-non-coverable-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-visual-picker-vertical-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-visual-picker-vertical-coverable-1-snap.png
  utilities/constants.js
Labels: cla:signed, visual-picker

#2024 Progress Bar: Adds vertical orientation
  components/component-docs.json
  components/progress-bar/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-bar/__docs__/site-stories.js
  components/progress-bar/__docs__/storybook-stories.jsx
  components/progress-bar/__examples__/examples.jsx
  components/progress-bar/__examples__/vertical.jsx
  components/progress-bar/index.jsx
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-bar-vertical-1-snap.png
Labels: cla:signed, progress-bar

#2063 Fix typo in labels prop of radio and checkbox.
  components/checkbox/index.jsx
  components/radio/index.jsx
Labels: cla:signed

#2036 Button: Pass through form props tom button DOM node
  components/button/__tests__/button.browser-test.jsx
  components/button/index.jsx
  components/component-docs.json
  utilities/get-form-props.js
Labels: button, cla:signed

#2075 Setup Assistant: Incomplete steps should have Progress Ring with active theme
  components/component-docs.json
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  components/setup-assistant/step.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-hub-with-expandable-steps-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-in-a-card-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-with-step-progress-1-snap.png
Labels: setup-assistant

#2004 Combobox: ARIA attribute fixes
  components/builder-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__examples__/input-prop.jsx
  components/combobox/__examples__/snapshot/base-selected.jsx
  components/combobox/combobox.jsx
  components/global-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/input/__docs__/__snapshots__/storybook-stories.storyshot
  components/menu-dropdown/__docs__/__snapshots__/storybook-stories.storyshot
  components/page-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-indicator/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/index.jsx
  components/utilities/dialog/index.jsx
  package.json
  tests/story-based-accessibility-tests.js
Labels: cla:signed, combobox, tooltip

#2091 DatePicker: fixed prop description typo
  components/component-docs.json
  components/date-picker/date-picker.jsx
Labels: cla:signed

#2025 Trial Bar: Add component
  components/component-docs.json
  components/index.js
  components/menu-dropdown/__tests__/dropdown.browser-test.jsx
  components/menu-dropdown/menu-dropdown.jsx
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  components/trial-bar/__docs__/__snapshots__/storybook-stories.storyshot
  components/trial-bar/__docs__/site-stories.js
  components/trial-bar/__docs__/storybook-stories.jsx
  components/trial-bar/__examples__/default.jsx
  components/trial-bar/button.jsx
  components/trial-bar/docs.json
  components/trial-bar/dropdown.jsx
  components/trial-bar/index.jsx
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-trial-bar-default-1-snap.png
  utilities/constants.js
Labels: cla:signed, trial-bar

#2088 Changed Carousel component in order to match MC Setup design
  components/carousel/__docs__/__snapshots__/storybook-stories.storyshot
  components/carousel/__examples__/five-items.jsx
  components/carousel/__examples__/three-items-controlled.jsx
  components/carousel/__examples__/three-items.jsx
  components/carousel/index.jsx
  components/carousel/private/carousel-indicators.jsx
Labels: carousel, cla:signed

#2110 VisualPicker: Add children prop comment
  components/component-docs.json
  components/visual-picker/index.jsx
Labels: documentation, visual-picker

#2097 Update jest config to include all snapshots
  components/app-launcher/__docs__/storybook-stories.jsx
  components/breadcrumb/__tests__/__snapshots__/bread-crumb.snapshot-test.jsx.snap
  components/breadcrumb/__tests__/bread-crumb.snapshot-test.jsx
  components/date-picker/__tests__/__snapshots__/datepicker.snapshot-test.jsx.snap
  components/icon/__tests__/__snapshots__/icon.snapshot-test.jsx.snap
  components/icon/__tests__/icon.snapshot-test.jsx
  components/modal/__docs__/storybook-stories.jsx
  components/panel/__tests__/__snapshots__/filtering.snapshot-test.jsx.snap
  components/pill/__tests__/__snapshots__/pill.snapshot-test.jsx.snap
  components/pill/__tests__/pill.snapshot-test.jsx
  components/progress-ring/__tests__/__snapshots__/progress-ring.snapshot-test.jsx.snap
  components/progress-ring/__tests__/progress-ring.snapshot-test.jsx
  components/radio-button-group/__tests__/__snapshots__/radio-button-group.snapshot-test.jsx.snap
  components/radio-button-group/__tests__/radio-button-group.snapshot-test.jsx
  components/radio-group/__tests__/__snapshots__/radio-group.snapshot-test.jsx.snap
  components/radio-group/__tests__/radio-group.snapshot-test.jsx
  components/slider/__tests__/__snapshots__/slider.snapshot-test.jsx.snap
  components/slider/__tests__/slider.snapshot-test.jsx
  components/split-view/__tests__/__snapshots__/split-view.snapshot-test.jsx.snap
  components/split-view/__tests__/split-view.snapshot-test.jsx
  components/toast/__tests__/__snapshots__/toast.snapshot-test.jsx.snap
  components/toast/__tests__/toast.snapshot-test.jsx
  components/vertical-navigation/__tests__/__snapshots__/navigation.snapshot-test.jsx.snap
  components/vertical-navigation/__tests__/navigation.snapshot-test.jsx
  tests/__mocks__/file-mock.js
  tests/snapshots-config.json
Labels: test task

#2119 Update release readme
  docs/release.md
Labels: documentation

#2115 Limit use of root `~` babel alias to example files
  .babelrc
Labels: maintenance-task, scale and productivity

#2098 Add Storybook Stories to DOM, image, and accessibility tests by default unless excluded [no a11y tests on CI]
  components/date-picker/__tests__/__snapshots__/datepicker.dom-snapshot-test.jsx.snap
  components/date-picker/__tests__/datepicker.dom-snapshot-test.jsx
  components/panel/__tests__/__snapshots__/filtering.dom-snapshot-test.jsx.snap
  components/panel/__tests__/filtering.dom-snapshot-test.jsx
  components/story-based-tests.js
  package.json
  scripts/travis-ci.sh
  tests/README.md
  tests/exclude-story-config.js
  tests/story-based-tests.accessibility-test.config.json
  tests/story-based-tests.accessibility-test.js
  tests/story-based-tests.dom-snapshot-test.config.json
  tests/story-based-tests.dom-snapshot-test.js
  tests/story-based-tests.snapshot-test.config.json
  tests/story-based-tests.snapshot-test.js
  tests/storyshots-helpers.js
Labels: scale and productivity, test task

#2089 [UNSUPPORTED PROTOTYPE] Datepicker: Add right to left language support (RTL)
  components/date-picker/__docs__/storybook-stories.jsx
  components/date-picker/__tests__/__snapshots__/datepicker.dom-snapshot-test.jsx.snap
  components/date-picker/__tests__/date-picker.browser-test.jsx
  components/date-picker/__tests__/datepicker.dom-snapshot-test.jsx
  components/date-picker/private/day.jsx
Labels: cla:signed

#1934 Add Welcome Mat Component
  components/component-docs.json
  components/index.js
  components/modal/trigger.jsx
  components/site-stories.js
  components/storybook-stories.js
  components/welcome-mat/__docs__/site-stories.js
  components/welcome-mat/__docs__/storybook-stories.jsx
  components/welcome-mat/__examples__/default.jsx
  components/welcome-mat/__examples__/info-only.jsx
  components/welcome-mat/__examples__/splash.jsx
  components/welcome-mat/__examples__/steps-complete.jsx
  components/welcome-mat/__examples__/trailhead-complete.jsx
  components/welcome-mat/__examples__/trailhead.jsx
  components/welcome-mat/__tests__/welcome-mat.browser-test.jsx
  components/welcome-mat/docs.json
  components/welcome-mat/index.jsx
  components/welcome-mat/info-badge.jsx
  components/welcome-mat/tile.jsx
  package.json
  tests/exclude-story-config.js
  utilities/constants.js
Labels: cla:signed

#2133 Builder Header: Fix typo
  components/builder-header/toolbar.jsx
  components/component-docs.json
Labels: builder-header, cla:signed

#2125 Update contributing readme to new Jest script process
  CONTRIBUTING.md
Labels: documentation
