Repository salesforce/design-system-react, pull requests merged in 2019-04, with the labels that each got.

#1827 Vertical Navigation: Remove shade variant
  components/vertical-navigation/__docs__/storybook-stories.jsx
  components/vertical-navigation/__examples__/shade.jsx
  components/vertical-navigation/check-props.js
  components/vertical-navigation/index.jsx
Labels: cla:signed

#1835 Combobox: Update menuItem to onRenderMenuItem
  components/combobox/__examples__/base-custom-menu-item-disabled.jsx
  components/combobox/__examples__/base-custom-menu-item.jsx
  components/combobox/__examples__/readonly-single-selection-custom-menu-item.jsx
  components/combobox/check-props.js
  components/combobox/combobox.jsx
  components/combobox/private/menu.jsx
  components/component-docs.json
Labels: cla:signed, combobox

#1870 Add `inverse` variant in `Avatar` element
  components/avatar/__docs__/__snapshots__/storybook-stories.storyshot
  components/avatar/__docs__/storybook-stories.jsx
  components/avatar/__examples__/inverse-user-initials.jsx
  components/avatar/index.jsx
  components/component-docs.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-avatar-inverse-user-initials-1-snap.png
Labels: cla:signed

#1875 Add `outline-brand`, `text-destructive variant` in button element and test and example for `outline-brand`
  components/button/__docs__/__snapshots__/storybook-stories.storyshot
  components/button/__docs__/storybook-stories.jsx
  components/button/index.jsx
  components/component-docs.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-button-outline-brand-button-1-snap.png
Labels: button, cla:signed

#1909 added instruction to set up Salesforce Lightning with Create React App 2x
  docs/create-react-app-2x.md
  docs/create-react-app.md
Labels: cla:signed

#1866 Add ability for SLDSAlert example to close
  components/alert/__examples__/dismissable.jsx
Labels: alert, cla:signed

#1896 Button: Fixes assistive text in small icon hint inverse example
  components/button/__docs__/__snapshots__/storybook-stories.storyshot
  components/button/__docs__/storybook-stories.jsx
Labels: cla:signed

#1777 Replace dismissible with disableClose in Modal
  components/component-docs.json
  components/modal/__docs__/storybook-stories.jsx
  components/modal/__examples__/prompt.jsx
  components/modal/__tests__/modal.browser-test.jsx
  components/modal/check-props.js
  components/modal/index.jsx
Labels: cla:signed

#1798 Removed propTypes which are not used from different components
  components/avatar/index.jsx
  components/button-stateful/index.jsx
  components/page-header/private/related-list/index.jsx
  components/utilities/dialog/portal.jsx
Labels: cla:signed

#1911 Combobox: Cancel mouseDown bubble from listbox div tag in order to help scrollbar
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/combobox.jsx
  components/utilities/dialog/index.jsx
Labels: combobox

#1735 Add Combobox with Dialog
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/site-stories.js
  components/combobox/__docs__/storybook-stories.jsx
  components/combobox/__examples__/dialog.jsx
  components/combobox/__examples__/snapshot/dialog-open.jsx
  components/combobox/__tests__/combobox.browser-test.jsx
  components/combobox/check-props.js
  components/combobox/combobox.jsx
  components/popover/check-props.js
  components/popover/popover.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-dialog-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-snapshot-dialog-open-1-snap.png
Labels: combobox

#1917 Dialog: Changes role from popover to dialog
  components/color-picker/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/popover/__docs__/__snapshots__/storybook-stories.storyshot
  components/utilities/dialog/index.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-color-picker-color-picker-menu-open-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-alignment-button-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-alignment-button-icon-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-alternative-header-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-controlled-w-footer-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-custom-target-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-custom-target-open-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-error-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-error-open-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-header-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-styling-dev-only-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-walkthrough-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-walkthrough-action-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-walkthrough-action-open-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-walkthrough-open-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-warning-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-warning-open-1-snap.png
Labels: cla:signed

#1920 Button: Corrects the function call for text button
  components/button/__docs__/storybook-stories.jsx
Labels: cla:signed

#1922 Tree Buttons: Adds `aria-hidden=true` to align with SLDS
  components/tree/__docs__/__snapshots__/storybook-stories.storyshot
  components/tree/private/item.jsx
  components/tree/private/render-branch.jsx
Labels: accessibility, cla:signed, tree

#1923 Adds visual deprecation heading to deprecated components
  components/lookup/__docs__/storybook-stories.jsx
  components/utilities/deprecated-warning/index.jsx
  utilities/constants.js
Labels: cla:signed

#1888 Progress Rings: Fixes examples page
  components/progress-ring/__examples__/examples.jsx
  components/progress-ring/index.jsx
Labels: cla:signed

#1893 Removed the overlapping list items in global nav bar
  components/global-navigation-bar/__docs__/storybook-stories.jsx
Labels: cla:signed, global-navigation-bar

#1892 Spinner: Adds `isDelayed` prop to component
  components/component-docs.json
  components/spinner/__docs__/__snapshots__/storybook-stories.storyshot
  components/spinner/__docs__/storybook-stories.jsx
  components/spinner/__tests__/spinner.browser-test.jsx
  components/spinner/index.jsx
  components/story-based-tests.js
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-brand-large-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-brand-medium-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-brand-small-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-docs-site-default-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-inverse-large-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-inverse-medium-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-inverse-small-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-large-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-large-with-300-ms-delay-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-medium-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-spinner-small-1-snap.png
Labels: cla:signed, spinner

#1899 Brand Band: Adds ability for image to cover with `backgroundSize`
  components/brand-band/__docs__/__snapshots__/storybook-stories.storyshot
  components/brand-band/__docs__/storybook-stories.jsx
  components/brand-band/__examples__/background-cover.jsx
  components/brand-band/index.jsx
  components/component-docs.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-brand-band-image-with-background-size-cover-1-snap.png
Labels: cla:signed

#1906 AppLauncher: Fixes arrow direction in app launcher sections
  components/app-launcher/section.jsx
Labels: app-launcher, cla:signed

#1924 Add snapshot update npm command
  CONTRIBUTING.md
  package.json
  tests/README.md
Labels: scale and productivity

#1886 Progress Indicator: Add vertical orientation
  components/component-docs.json
  components/progress-indicator/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-indicator/__docs__/storybook-stories.jsx
  components/progress-indicator/index.jsx
  components/progress-indicator/private/progress-bar.jsx
  components/progress-indicator/private/progress.jsx
  components/progress-indicator/private/step-vertical.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-indicator-vertical-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-indicator-vertical-step-error-1-snap.png
  utilities/constants.js
Labels: cla:signed, progress-indicator

#1903 Add className prop to Tooltip component
  components/story-based-tests.js
  components/tooltip/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/__docs__/storybook-stories.jsx
  components/tooltip/__examples__/base.jsx
  components/tooltip/__examples__/button-group.jsx
  components/tooltip/__examples__/button.jsx
  components/tooltip/__examples__/learn-more.jsx
  components/tooltip/index.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-alignment-button-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-alignment-icon-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-alignment-span-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-base-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-button-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-button-group-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-learn-more-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-tooltip-open-1-snap.png
Labels: tooltip

#1918 Carousel: Add Component
  .gitignore
  components/carousel/__docs__/__snapshots__/storybook-stories.storyshot
  components/carousel/__docs__/site-stories.js
  components/carousel/__docs__/storybook-stories.jsx
  components/carousel/__examples__/default-with-autoplay.jsx
  components/carousel/__examples__/default-with-navigation.jsx
  components/carousel/__examples__/default.jsx
  components/carousel/__examples__/five-items.jsx
  components/carousel/__examples__/three-items-with-autoplay.jsx
  components/carousel/__examples__/three-items.jsx
  components/carousel/__examples__/with-custom-items.jsx
  components/carousel/docs.json
  components/carousel/index.jsx
  components/carousel/private/auto-play-button.jsx
  components/carousel/private/carousel-indicators.jsx
  components/carousel/private/carousel-item.jsx
  components/carousel/private/previous-next-carousel-navigator.jsx
  components/component-docs.json
  components/index.js
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  package.json
  tests/story-based-tests.snapshot-test.js
  utilities/constants.js
Labels: carousel, cla:missing

#1928 Carousel: Adds `isPrototype` warning
  components/carousel/check-props.js
  components/carousel/index.jsx
Labels: carousel, cla:signed

#1926 Dropdown: Adds sunsetProperty for `tooltip` prop
  components/menu-dropdown/check-props.js
Labels: cla:signed

#1938 Fix carousel button import path
  components/carousel/private/auto-play-button.jsx
Labels: carousel

#1940 Fix carousel button import path
  components/carousel/private/previous-next-carousel-navigator.jsx
Labels: carousel

#1895 edited Icon container small assistive text
  components/button/__docs__/__snapshots__/storybook-stories.storyshot
  components/button/__docs__/storybook-stories.jsx
Labels: accessibility, button, cla:signed

#1826 Update Popover to use section tag
  components/color-picker/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/input/__docs__/__snapshots__/storybook-stories.storyshot
  components/popover/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/__docs__/__snapshots__/storybook-stories.storyshot
  components/utilities/dialog/index.jsx
Labels: cla:signed

#1739 Add EditDialog variant to Popover component
  components/component-docs.json
  components/index.js
  components/popover/__docs__/__snapshots__/storybook-stories.storyshot
  components/popover/__docs__/site-stories.js
  components/popover/__docs__/storybook-stories.jsx
  components/popover/__examples__/edit-dialog.jsx
  components/popover/edit-dialog.jsx
  components/popover/popover.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-input-inline-edit-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-edit-dialog-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-popover-edit-dialog-open-1-snap.png
  utilities/constants.js
Labels: popover

#1949 Progress Indicator: Adds `vertical` variant to docsite examples
  components/progress-indicator/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-indicator/__docs__/site-stories.js
  components/progress-indicator/__docs__/storybook-stories.jsx
  components/progress-indicator/__examples__/vertical.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-indicator-vertical-1-snap.png
Labels: cla:signed, progress-indicator

#1780 Add Dynamic Icons Component
  components/component-docs.json
  components/dynamic-icon/__docs__/__snapshots__/storybook-stories.storyshot
  components/dynamic-icon/__docs__/site-stories.js
  components/dynamic-icon/__docs__/storybook-stories.jsx
  components/dynamic-icon/__examples__/ellie.jsx
  components/dynamic-icon/__examples__/eq.jsx
  components/dynamic-icon/__examples__/score.jsx
  components/dynamic-icon/__examples__/strength.jsx
  components/dynamic-icon/__examples__/trend.jsx
  components/dynamic-icon/__examples__/typing.jsx
  components/dynamic-icon/__examples__/waffle.jsx
  components/dynamic-icon/docs.json
  components/dynamic-icon/index.jsx
  components/index.js
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icon-ellie-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icon-eq-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icon-score-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icon-strength-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icon-trend-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icon-typing-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icon-waffle-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icons-ellie-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icons-eq-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icons-score-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icons-strength-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icons-trend-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icons-typing-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-dynamic-icons-waffle-1-snap.png
  utilities/constants.js
Labels: cla:signed, icon

#1773 Add Progress Bar Component
  components/component-docs.json
  components/index.js
  components/progress-bar/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-bar/__docs__/site-stories.js
  components/progress-bar/__docs__/storybook-stories.jsx
  components/progress-bar/__examples__/color.jsx
  components/progress-bar/__examples__/default.jsx
  components/progress-bar/__examples__/descriptive.jsx
  components/progress-bar/__examples__/examples.jsx
  components/progress-bar/__examples__/radius.jsx
  components/progress-bar/__examples__/thickness.jsx
  components/progress-bar/docs.json
  components/progress-bar/index.jsx
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-bar-color-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-bar-default-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-bar-descriptive-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-bar-radius-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-bar-thickness-1-snap.png
  utilities/constants.js
Labels: cla:signed, progress-bar

#1778 Rename prop title to heading in Modal
  components/modal/__docs__/storybook-stories.jsx
  components/modal/__examples__/header-footer.jsx
  components/modal/__examples__/menu-contents.jsx
  components/modal/__examples__/modal-custom-parent-node.jsx
  components/modal/__examples__/sizes.jsx
  components/modal/__examples__/taglines.jsx
  components/modal/__tests__/modal.browser-test.jsx
  components/modal/check-props.js
  components/modal/index.jsx
  components/modal/trigger.jsx
Labels: cla:signed, modal

#1832 Update `PageHeader` prop `variant` to accept kebab-case and otherwise show deprecation warning
  components/component-docs.json
  components/page-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/page-header/__docs__/storybook-stories.jsx
  components/page-header/__examples__/object-home.jsx
  components/page-header/__examples__/record-home.jsx
  components/page-header/__examples__/related-list.jsx
  components/page-header/__tests__/page-header.browser-test.jsx
  components/page-header/check-props.js
  components/page-header/index.jsx
  components/page-header/private/base/index.jsx
  components/page-header/private/object-home/index.jsx
  components/page-header/private/record-home/index.jsx
  components/page-header/private/related-list/index.jsx
  package-lock.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-page-header-base-with-actions-1-snap.png
Labels: cla:signed

#1908 AppLauncher: Changes icontext in tile to be consistent with heading
  components/app-launcher/__docs__/storybook-stories.jsx
Labels: app-launcher, cla:signed

#1955 Modal: fix error with dismissModalOnClickOutside
  components/modal/index.jsx
Labels: cla:missing, modal

#1930 DatePicker: Triggers a console warning on using default parser
  components/date-picker/date-picker.jsx
Labels: cla:signed, date-picker

#1932 Alert: Adds padding to story container to prevent overlap
  components/alert/__docs__/__snapshots__/storybook-stories.storyshot
  components/alert/__docs__/storybook-stories.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-alert-close-alert-1-snap.png
Labels: alert, cla:signed

#1931 DatePicker: Removes unnecessary bindings and uses arrow functions
  components/date-picker/date-picker.jsx
Labels: cla:signed, date-picker

#1935 Button Stateful: Changes background color to make the text more legible
  components/button-stateful/__docs__/__snapshots__/storybook-stories.storyshot
  components/button-stateful/__examples__/icon-text.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-button-stateful-doc-site-icon-text-button-1-snap.png
Labels: cla:signed

#1948 Button: Add `outline-brand` variant to doc site examples
  components/button/__docs__/__snapshots__/storybook-stories.storyshot
  components/button/__examples__/brand-disabled-destructive-inverse.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-button-doc-site-brand-disabled-1-snap.png
Labels: cla:signed

#1947 PageHeader: Remove all caps heading
  components/page-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/page-header/index.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-page-header-docs-site-record-home-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-page-header-object-home-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-page-header-record-home-field-updates-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-page-header-record-home-truncates-1-snap.png
Labels: cla:signed, page-header

#1825 Deprecate custom content for Dropdown component
  components/menu-dropdown/menu-dropdown.jsx
  components/popover/popover.jsx
Labels: cla:signed

#1792 Add dropdown menu width prop
  components/component-docs.json
  components/menu-dropdown/__tests__/dropdown.browser-test.jsx
  components/menu-dropdown/menu-dropdown.jsx
  package.json
Labels: cla:signed
