Repository salesforce/design-system-react, pull requests merged in 2019-05, with the labels that each got.

#1960 Accordion: Add event parameter in example code
  components/accordion/__examples__/base.jsx
Labels: accordion, cla:signed

#1785 Add Scoped Notification Component
  components/scoped-notification/__docs__/__snapshots__/storybook-stories.storyshot
  components/scoped-notification/__docs__/site-stories.js
  components/scoped-notification/__docs__/storybook-stories.jsx
  components/scoped-notification/__examples__/dark.jsx
  components/scoped-notification/__examples__/light.jsx
  components/scoped-notification/docs.json
  components/scoped-notification/index.jsx
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-scoped-notification-dark-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-scoped-notification-light-1-snap.png
  utilities/constants.js
Labels: cla:signed, scoped-notifications

#1963 Popover: Edit Dialog design updates
  components/popover/__docs__/__snapshots__/storybook-stories.storyshot
  components/popover/__examples__/edit-dialog.jsx
  components/popover/edit-dialog.jsx
Labels: popover

#1809 Sync up the package-lock.json file
  package-lock.json
  package.json
Labels: cla:signed, maintenance-task

#1883 Global Nav: Add a11y exception to region
  components/global-navigation-bar/region.jsx
Labels: documentation

#1965 illustration component minor bugfix for style object
  components/illustration/index.jsx
Labels: illustration

#1967 Carousel greedy focus bugfix
  components/carousel/__docs__/__snapshots__/storybook-stories.storyshot
  components/carousel/index.jsx
  components/carousel/private/carousel-indicators.jsx
  components/component-docs.json
Labels: carousel

#1953 Builder Header: Add component
  components/builder-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/builder-header/__docs__/site-stories.js
  components/builder-header/__docs__/storybook-stories.jsx
  components/builder-header/__examples__/after-successful-save.jsx
  components/builder-header/__examples__/base-with-toolbar.jsx
  components/builder-header/__examples__/base.jsx
  components/builder-header/__examples__/failed-save.jsx
  components/builder-header/__examples__/successful-save.jsx
  components/builder-header/__tests__/builder-header.browser-test.jsx
  components/builder-header/index.jsx
  components/builder-header/nav-dropdown.jsx
  components/builder-header/nav-link.jsx
  components/builder-header/nav.jsx
  components/builder-header/toolbar.jsx
  components/component-docs.json
  components/index.js
  components/site-stories.js
  components/story-based-tests.js
  components/storybook-stories.js
  package.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-builder-header-after-successful-save-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-builder-header-base-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-builder-header-base-with-toolbar-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-builder-header-failed-save-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-builder-header-successful-save-1-snap.png
  utilities/constants.js
Labels: builder-header

#1973 Carousel: Design updates
  components/carousel/__docs__/__snapshots__/storybook-stories.storyshot
  components/carousel/__examples__/default-with-autoplay.jsx
  components/carousel/__examples__/default-with-navigation.jsx
  components/carousel/__examples__/default.jsx
  components/carousel/__examples__/five-items.jsx
  components/carousel/__examples__/three-items-with-autoplay.jsx
  components/carousel/__examples__/three-items.jsx
  components/carousel/__examples__/with-custom-items.jsx
  components/carousel/index.jsx
  components/carousel/private/auto-play-button.jsx
  components/carousel/private/carousel-item.jsx
  components/carousel/private/previous-next-carousel-navigator.jsx
  package-lock.json
Labels: carousel

#1968 Progress Indicator: Adds `setup-assistant` variant
  components/component-docs.json
  components/progress-indicator/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-indicator/__docs__/storybook-stories.jsx
  components/progress-indicator/__examples__/setup-assistant.jsx
  components/progress-indicator/index.jsx
  components/progress-indicator/private/progress.jsx
  components/progress-indicator/private/step-vertical.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-indicator-setup-assistant-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-indicator-vertical-step-error-1-snap.png
Labels: cla:signed, progress-indicator, setup-assistant

#1976 Modal: Refactor border-radius render logic
  components/component-docs.json
  components/modal/__docs__/storybook-stories.jsx
  components/modal/index.jsx
Labels: cla:signed

#1983 Add a Gitter chat badge to README.md
  README.md
Labels: cla:missing

#1974 Carousel: Make controlled component
  components/carousel/__docs__/__snapshots__/storybook-stories.storyshot
  components/carousel/__docs__/storybook-stories.jsx
  components/carousel/__examples__/default-with-autoplay.jsx
  components/carousel/__examples__/three-items-controlled.jsx
  components/carousel/index.jsx
  components/carousel/private/auto-play-button.jsx
  components/carousel/private/carousel-indicators.jsx
  utilities/constants.js
Labels: carousel

#1975 Carousel: Add Mocha tests
  components/carousel/__docs__/__snapshots__/storybook-stories.storyshot
  components/carousel/__tests__/carousel.browser-test.jsx
  components/carousel/docs.json
  components/carousel/index.jsx
  components/carousel/private/carousel-indicators.jsx
  components/carousel/private/carousel-item.jsx
  components/component-docs.json
  package.json
Labels: carousel

#1741 Global navigation
  components/component-docs.json
  components/global-navigation-bar/__docs__/storybook-stories.jsx
  components/global-navigation-bar/__examples__/default.jsx
  components/global-navigation-bar/__tests__/global-navigation-bar.browser-test.jsx
  components/global-navigation-bar/docs.json
  components/global-navigation-bar/dropdown-trigger.jsx
  components/global-navigation-bar/index.jsx
  components/global-navigation-bar/link.jsx
  components/utilities/menu-list/item-label.jsx
  components/utilities/menu-list/item.jsx
  utilities/sample-data/global-navigation-bar/index.jsx
Labels: global-navigation-bar

#1991 Progress Ring: Added flowDirection prop. Add snapshot tests
  components/progress-ring/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-ring/__examples__/base.jsx
  components/progress-ring/__examples__/customIcon.jsx
  components/progress-ring/__examples__/examples.jsx
  components/progress-ring/__examples__/expired.jsx
  components/progress-ring/__examples__/warning.jsx
  components/progress-ring/index.jsx
  components/progress-ring/private/ring-shape.jsx
  components/story-based-tests.js
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-ring-base-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-ring-custom-icon-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-ring-docs-site-examples-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-ring-theme-complete-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-ring-theme-expired-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-progress-ring-theme-warning-1-snap.png
Labels: progress-ring

#1994 Add AppLauncher Section back and deprecate
  components/app-launcher/check-props.js
  components/app-launcher/section.jsx
  utilities/constants.js
Labels: app-launcher

#1848 Accordion: Add Single Panel Open Example
  components/accordion/__examples__/base.jsx
Labels: cla:signed

#1831 SLDSAccordian has 3 dropdowns in base whereas only 2 in base-open
  components/accordion/__docs__/__snapshots__/storybook-stories.storyshot
  components/accordion/__examples__/base-open.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-accordion-base-open-1-snap.png
Labels: cla:signed

#2001 Add small size support for Modals
  components/component-docs.json
  components/modal/__examples__/sizes.jsx
  components/modal/__tests__/modal.browser-test.jsx
  components/modal/index.jsx
Labels: cla:signed
