Repository salesforce/design-system-react, pull requests merged in 2019-09, with the labels that each got.

#2245 Remove componentWillMount lifecycle method from components
  components/accordion/index.jsx
  components/alert/index.jsx
  components/app-launcher/expandable-section.jsx
  components/app-launcher/index.jsx
  components/app-launcher/section.jsx
  components/app-launcher/tile.jsx
  components/avatar/index.jsx
  components/button-stateful/index.jsx
  components/button/index.jsx
  components/carousel/index.jsx
  components/checkbox/index.jsx
  components/color-picker/index.jsx
  components/combobox/combobox.jsx
  components/data-table/index.jsx
  components/data-table/private/head.jsx
  components/date-picker/date-picker.jsx
  components/filter/index.jsx
  components/forms/input/inline.jsx
  components/global-header/index.jsx
  components/global-navigation-bar/dropdown-trigger.jsx
  components/input/index.jsx
  components/lookup/lookup.jsx
  components/menu-dropdown/menu-dropdown.jsx
  components/modal/index.jsx
  components/panel/filtering/list.jsx
  components/panel/index.jsx
  components/popover/popover.jsx
  components/progress-bar/index.jsx
  components/progress-indicator/index.jsx
  components/radio-group/index.jsx
  components/setup-assistant/index.jsx
  components/split-view/index.jsx
  components/split-view/listbox.jsx
  components/tabs/index.jsx
  components/textarea/index.jsx
  components/time-picker/index.jsx
  components/toast/index.jsx
  components/tooltip/index.jsx
  components/tree/index.jsx
  components/vertical-navigation/index.jsx
  docs/codebase-overview.md
Labels: cla:signed, maintenance-task

#2278 SplitView example: File name changes
  components/site-stories.js
  components/split-view/__docs__/storybook-stories.jsx
  components/split-view/__examples__/custom-items-list.jsx
  components/split-view/component.json
  package.json
Labels: maintenance-task

#2290 Add functional programming eslint rules
  .eslintrc.js
  components/carousel/private/carousel-indicators.jsx
  components/combobox/combobox.jsx
  components/combobox/filter.js
  components/combobox/private/menu.jsx
  components/data-table/index.jsx
  components/date-picker/private/calendar.jsx
  components/date-picker/private/week.jsx
  components/date-picker/private/year-picklist.jsx
  components/dynamic-icon/index.jsx
  components/expression/group.jsx
  components/filter/index.jsx
  components/forms/input/inline.jsx
  components/global-header/favorites.jsx
  components/global-header/help.jsx
  components/global-header/index.jsx
  components/global-header/notifications.jsx
  components/global-header/profile.jsx
  components/global-header/setup.jsx
  components/global-header/task.jsx
  components/global-navigation-bar/index.jsx
  components/lookup/private/menu.jsx
  components/menu-dropdown/menu-dropdown.jsx
  components/menu-picklist/index.jsx
  components/page-header/private/controls.jsx
  components/pill/index.jsx
  components/popover/popover.jsx
  components/progress-indicator/index.jsx
  components/split-view/listbox.jsx
  components/tabs/index.jsx
  components/time-picker/index.jsx
  components/tree/index.jsx
  components/utilities/menu-list/item.jsx
  components/utilities/text-content.js
  components/utilities/truncate/by-length.js
  components/utilities/truncate/index.jsx
  components/utilities/utility-icon/svg.jsx
  package.json
  scripts/code/find-and-fix-missing-doc-stories.js
  tests/fixtures/phantomjs-shims.js
  utilities/class-names.js
  utilities/dom.js
  utilities/letter-key-code.js
  utilities/warning/has-children-without-display-name-of.js
  utilities/warning/low-priority-warning.js
  webpack.config.dist.js
Labels: scale and productivity

#2211 Add capacity to pass Icons into a SetupAssistantStep
  components/component-docs.json
  components/icon/index.jsx
  components/page-header/check-props.js
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  components/setup-assistant/__docs__/storybook-stories.jsx
  components/setup-assistant/__examples__/with-icons.jsx
  components/setup-assistant/check-props.js
  components/setup-assistant/step.jsx
  utilities/warning/render-function-return-contents-lack-display-name.js
Labels: setup-assistant

#2262 Remove default time-picker placeholder text
  components/component-docs.json
  components/time-picker/__examples__/default.jsx
  components/time-picker/index.jsx
Labels: time-picker

#2230 Add Map Component
  components/index.js
  components/map/__docs__/storybook-stories.jsx
  components/map/__examples__/multiple-locations.jsx
  components/map/__examples__/single-location.jsx
  components/map/__tests__/map.browser-test.jsx
  components/map/component.json
  components/map/index.jsx
  components/site-stories.js
  package.json
  tests/exclude-story-config.js
  utilities/constants.js
Labels: cla:signed, map

#2252 Remove PhantomJS legacy code and instructions
  components/vertical-navigation/__tests__/navigation.browser-test.jsx
  package-lock.json
  package.json
  tests/README.md
  tests/fixtures/phantomjs-shims.js
Labels: maintenance-task

#2272 Popover: Add feature variant
  components/component-docs.json
  components/popover/__docs__/__snapshots__/storybook-stories.storyshot
  components/popover/__docs__/storybook-stories.jsx
  components/popover/__examples__/feature.jsx
  components/popover/component.json
  components/popover/popover.jsx
  components/site-stories.js
  package.json
Labels: cla:missing, popover

#2287 BuilderHeader: Add miscellaneous section
  components/builder-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/builder-header/__docs__/storybook-stories.jsx
  components/builder-header/__examples__/base-with-page-type-editable.jsx
  components/builder-header/index.jsx
  components/builder-header/misc.jsx
  components/index.js
  components/popover/edit-dialog.jsx
  utilities/constants.js
Labels: builder-header, cla:signed

#2219 Accordion: Add arrow key support
  components/accordion/__docs__/__snapshots__/storybook-stories.storyshot
  components/accordion/__tests__/accordion.browser-test.jsx
  components/accordion/index.jsx
  components/accordion/panel.jsx
  components/component-docs.json
Labels: accordion

#2234 Add ARIA attributes to all input tags
  components/checkbox/index.jsx
  components/component-docs.json
  components/date-picker/__tests__/__snapshots__/datepicker.dom-snapshot-test.jsx.snap
  components/files/more-files.jsx
  components/input/private/inner-input.jsx
  components/menu-dropdown/component.json
  components/radio/index.jsx
  components/site-stories.js
  components/slider/index.jsx
  components/split-view/component.json
  components/textarea/index.jsx
  package-lock.json
  package.json
Labels: accessibility

#2191 For SLDSAccordian in base case, a panel can be toggled by clicking toggle
  components/accordion/__docs__/__snapshots__/storybook-stories.storyshot
  components/accordion/__examples__/base.jsx
Labels: cla:signed

#2303 TravisCI: Enable matrix build
  .travis.yml
  package-lock.json
  scripts/travis-ci.sh
Labels: maintenance-task

#2316 Expression: Fix accessibility bugs
  components/component-docs.json
  components/expression/__docs__/__snapshots__/storybook-stories.storyshot
  components/expression/__examples__/example.jsx
  components/expression/formula.jsx
  components/expression/group.jsx
  components/map/index.jsx
  tests/exclude-story-config.js
Labels: expression

#2320 Revert "Bump @storybook/router from 5.1.9 to 5.1.11"
  package-lock.json
  package.json
Labels: test task

#2324 Fixed issue with being able to select "disabled" tabs
  components/component-docs.json
  components/tabs/index.jsx
  styles/tabs/tab.css
Labels: tabs

#2329 Making textarea error & required examples match their SLDS counterparts
  components/textarea/__docs__/__snapshots__/storybook-stories.storyshot
  components/textarea/__docs__/storybook-stories.jsx
  components/textarea/__examples__/error.jsx
Labels: accessibility, textarea
