Repository salesforce/design-system-react, pull requests merged in 2019-10, with the labels that each got.

#2351 Add Margin between Buttons in examples
  components/button/__docs__/__snapshots__/storybook-stories.storyshot
  components/button/__examples__/brand-disabled-destructive-inverse.jsx
  package-lock.json
Labels: cla:signed, documentation

#2337 More A11y Audit Fixes
  components/component-docs.json
  components/radio-button-group/__docs__/__snapshots__/storybook-stories.storyshot
  components/radio-button-group/__tests__/radio-button-group.browser-test.jsx
  components/radio-group/__docs__/__snapshots__/storybook-stories.storyshot
  components/radio-group/__tests__/radio-group.browser-test.jsx
  components/radio-group/index.jsx
  components/slider/__docs__/__snapshots__/storybook-stories.storyshot
  components/slider/index.jsx
  components/spinner/__docs__/__snapshots__/storybook-stories.storyshot
  components/spinner/__docs__/storybook-stories.jsx
  components/spinner/__examples__/default.jsx
  components/split-view/__docs__/__snapshots__/storybook-stories.storyshot
  components/split-view/listbox.jsx
  components/toast/__examples__/duration-toast.jsx
  components/toast/index.jsx
Labels: accessibility

#2345 Hotfix Accordion typo
  components/accordion/index.jsx
Labels: accordion, cla:signed

#2357 Combobox: Make Dialog variant work. Update menu down icon style.
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/combobox.jsx
Labels: cla:signed, combobox

#2359 Accessibility audit fixes for Combobox, DataTable, Expression, Map, and Dropdown
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__examples__/inline-single-search-add-entities.jsx
  components/combobox/__examples__/snapshot/inline-single-search-add-entities-open.jsx
  components/combobox/combobox.jsx
  components/combobox/private/menu.jsx
  components/component-docs.json
  components/data-table/__docs__/__snapshots__/storybook-stories.storyshot
  components/data-table/__examples__/advanced-single-select-fixed-header.jsx
  components/data-table/__examples__/advanced-single-select.jsx
  components/data-table/__examples__/advanced.jsx
  components/data-table/__examples__/fixed-header-horizontal-scrolling.jsx
  components/data-table/__examples__/fixed-header.jsx
  components/data-table/__examples__/joined-with-page-header.jsx
  components/data-table/private/header-cell.jsx
  components/data-table/private/row.jsx
  components/expression/__examples__/example.jsx
  components/expression/__examples__/resource-selected.jsx
  components/expression/condition.jsx
  components/expression/group.jsx
  components/map/index.jsx
  components/menu-dropdown/__docs__/__snapshots__/storybook-stories.storyshot
  components/menu-dropdown/menu-dropdown.jsx
Labels: accessibility, combobox, data-table, expression, map, menu-dropdown

#2371 Deprecate and EOL Illustration component
  components/component-docs.json
  components/illustration/check-props.js
  components/illustration/component.json
  components/site-stories.js
  package.json
  scripts/prepare-components.js
Labels: illustration

#2341 Hotfix Accordion to work with one AccordionPanel child.
  components/accordion/__tests__/accordion.browser-test.jsx
  components/accordion/index.jsx
Labels: accordion, cla:signed

#2376 Support menu item scrolling in all Combobox variants
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/storybook-stories.jsx
  components/combobox/__examples__/base-with-scroll.jsx
  components/combobox/check-props.js
  components/combobox/combobox.jsx
  components/combobox/component.json
  components/component-docs.json
  components/site-stories.js
  package.json
Labels: cla:signed, combobox

#2377 Toast: Focus on dialog container on render instead of close button
  components/component-docs.json
  components/toast/__docs__/__snapshots__/storybook-stories.storyshot
  components/toast/index.jsx
Labels: toast

#2374 Maps: Make controlled component
  components/map/__examples__/multiple-locations.jsx
  components/map/__examples__/single-location.jsx
  components/map/__tests__/map.browser-test.jsx
  components/map/index.jsx
Labels: map
