Repository salesforce/design-system-react, pull requests merged in 2019-01, with the labels that each got.

#1706 Tooltip: Require onClickTrigger for learn more pattern
  components/button/index.jsx
  components/date-picker/__tests__/__snapshots__/datepicker.snapshot-test.jsx.snap
  components/split-view/__tests__/__snapshots__/split-view.snapshot-test.jsx.snap
  components/tooltip/__docs__/storybook-stories.jsx
  components/tooltip/__examples__/base.jsx
  components/tooltip/index.jsx
  utilities/get-aria-props.js
Labels: button

#1689 Add Field level tooltip to Combobox / Deprecate Input assistiveText.fieldLevelHelpButton
  components/combobox/__docs__/storybook-stories.jsx
  components/combobox/__examples__/base-inline-help-tooltip.jsx
  components/combobox/combobox.jsx
  components/component-docs.json
  components/input/__examples__/field-level-help.jsx
  components/input/check-props.js
  components/input/index.jsx
  components/tooltip/index.jsx
  components/tooltip/private/field-level-help-tooltip.jsx
  package-lock.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-base-inline-help-1-snap.png
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
  utilities/object.js
Labels: combobox, forms: input

#1710 Data table radio group fixed header
  components/data-table/__docs__/storybook-stories.jsx
  components/data-table/__examples__/advanced-single-select-fixed-header.jsx
  components/data-table/index.jsx
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-data-table-advanced-single-select-fixed-header-1-snap.png
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
Labels: data-table

#1713 [Fix] Combobox ID
  components/combobox/__examples__/base-custom-menu-item.jsx
  components/combobox/__examples__/base-inherit-menu-width.jsx
  components/combobox/__examples__/base-inline-help-tooltip.jsx
  components/combobox/__examples__/base-menu-separator.jsx
  components/combobox/__examples__/base-menu-subheader.jsx
  components/combobox/__examples__/base-predefined-options-only.jsx
  components/combobox/__examples__/base.jsx
  components/combobox/__examples__/inline-multiple.jsx
  components/combobox/__examples__/inline-single.jsx
  components/combobox/__examples__/readonly-multiple.jsx
  components/combobox/__examples__/readonly-single-selection-custom-menu-item.jsx
  components/combobox/__examples__/readonly-single.jsx
  components/combobox/__examples__/required-input-error-state.jsx
  package-lock.json
  package.json
  tests/__snapshots__/story-based-tests.snapshot-test.js.snap
Labels: combobox
