Repository salesforce/design-system-react, pull requests merged in 2019-08, with the labels that each got.

#2188 Progress Bar: Use `getId` for id instead of hard coding
  components/progress-bar/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-bar/index.jsx
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
Labels: cla:signed, progress-bar

#2192 Upgrade to Storybook 5 and add accessibility tests to continuous integration (TravisCI)
  .babelrc
  .jest/register-context.js
  .snyk
  .storybook-based-tests/config.js
  .storybook-based-tests/middleware.js
  .storybook-based-tests/preview-head.html
  .storybook-based-tests/webpack.config.js
  .storybook/addons.js
  .storybook/babel.config.js
  .storybook/config.js
  babel.config.js
  components/button/__docs__/__snapshots__/storybook-stories.storyshot
  components/button/__docs__/storybook-stories.jsx
  components/spinner/__docs__/__snapshots__/storybook-stories.storyshot
  components/spinner/__docs__/storybook-stories.jsx
  components/split-view/__tests__/split-view.listbox.header.browser-test.jsx
  components/story-based-tests.js
  components/storybook-stories.js
  components/tree/__docs__/__snapshots__/storybook-stories.storyshot
  components/tree/__docs__/storybook-stories.jsx
  karma.conf.js
  package-lock.json
  package.json
  scripts/build-docs.js
  scripts/code/find-and-fix-missing-doc-stories.js
  scripts/dist.sh
  tests/axe-config.js
  tests/axe-puppeteer-matcher.js
  tests/axe-storyshots.js
  tests/exclude-story-config.js
  tests/story-based-tests.accessibility-test.config.json
  tests/story-based-tests.accessibility-test.js
  tests/story-based-tests.dom-snapshot-test.config.json
  tests/story-based-tests.snapshot-test.config.json
  tests/story-based-tests.snapshot-test.js
  tests/url.js
  webpack.config.dist.js
  webpack.config.js
Labels: accessibility, scale and productivity, test task

#2206 Added icon prop to Scoped Notification
  components/component-docs.json
  components/scoped-notification/__docs__/__snapshots__/storybook-stories.storyshot
  components/scoped-notification/__docs__/site-stories.js
  components/scoped-notification/__docs__/storybook-stories.jsx
  components/scoped-notification/__examples__/custom-icon.jsx
  components/scoped-notification/check-props.js
  components/scoped-notification/index.jsx
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  package-lock.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-scoped-notification-base-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-scoped-notification-custom-icon-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-scoped-notification-dark-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-scoped-notification-light-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-base-variant-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-hub-with-expandable-steps-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-in-a-card-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-setup-assistant-with-step-progress-1-snap.png
Labels: scoped-notifications

#2214 Tabs: isTabNode condition fix to prevent clicks from changing Tabs
  components/tabs/index.jsx
Labels: cla:signed, tabs

#2150 Add Expression Component
  components/component-docs.json
  components/expression/__docs__/__snapshots__/storybook-stories.storyshot
  components/expression/__docs__/storybook-stories.jsx
  components/expression/__examples__/example.jsx
  components/expression/__examples__/initial.jsx
  components/expression/__examples__/multi-condition.jsx
  components/expression/__examples__/resource-selected.jsx
  components/expression/__examples__/with-custom-Logic.jsx
  components/expression/__examples__/with-formula-logic.jsx
  components/expression/__examples__/with-group.jsx
  components/expression/__tests__/expression.browser-test.jsx
  components/expression/component.json
  components/expression/condition.jsx
  components/expression/formula.jsx
  components/expression/group.jsx
  components/expression/index.jsx
  components/index.js
  components/site-stories.js
  package.json
  utilities/constants.js
Labels: cla:signed

#1838 TimePicker: Added condition for strValue update in order to update value
  components/time-picker/index.jsx
Labels: cla:signed, time-picker

#2215 Fix all existing aXe issues in master
  components/breadcrumb/__docs__/__snapshots__/storybook-stories.storyshot
  components/breadcrumb/index.jsx
  components/carousel/__docs__/__snapshots__/storybook-stories.storyshot
  components/carousel/index.jsx
  components/carousel/private/carousel-indicators.jsx
  components/carousel/private/carousel-item.jsx
  components/checkbox/index.jsx
  components/data-table/__docs__/__snapshots__/storybook-stories.storyshot
  components/data-table/__examples__/advanced-single-select-fixed-header.jsx
  components/data-table/__examples__/advanced-single-select.jsx
  components/data-table/__examples__/advanced.jsx
  components/data-table/__examples__/fixed-header-horizontal-scrolling.jsx
  components/data-table/__examples__/fixed-header.jsx
  components/data-table/__examples__/joined-with-page-header.jsx
  components/data-table/index.jsx
  components/data-table/private/head.jsx
  components/data-table/private/row.jsx
  components/date-picker/__tests__/__snapshots__/datepicker.dom-snapshot-test.jsx.snap
  components/date-picker/date-picker.jsx
  components/date-picker/private/calendar-wrapper.jsx
  components/date-picker/private/navigation.jsx
  components/date-picker/private/year-picklist.jsx
  components/expression/component.json
  components/filter/__docs__/__snapshots__/storybook-stories.storyshot
  components/filter/__examples__/error.jsx
  components/global-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/global-header/__docs__/storybook-stories.jsx
  components/global-header/__examples__/default.jsx
  components/global-navigation-bar/__tests__/global-navigation-bar.browser-test.jsx
  components/global-navigation-bar/dropdown-trigger.jsx
  components/menu-dropdown/__docs__/__snapshots__/storybook-stories.storyshot
  components/menu-dropdown/__docs__/storybook-stories.jsx
  components/pill/__docs__/__snapshots__/storybook-stories.storyshot
  components/pill/__examples__/snapshot.jsx
  components/popover/__docs__/__snapshots__/storybook-stories.storyshot
  components/popover/__docs__/storybook-stories.jsx
  components/popover/__examples__/edit-dialog.jsx
  components/popover/edit-dialog.jsx
  components/popover/popover.jsx
  components/radio/index.jsx
  components/setup-assistant/__docs__/__snapshots__/storybook-stories.storyshot
  components/setup-assistant/__examples__/card.jsx
  components/setup-assistant/__examples__/hub-expandable-steps.jsx
  components/setup-assistant/step.jsx
  components/slider/__docs__/__snapshots__/storybook-stories.storyshot
  components/slider/__examples__/error.jsx
  components/split-view/__docs__/__snapshots__/storybook-stories.storyshot
  components/split-view/index.jsx
  components/textarea/__docs__/__snapshots__/storybook-stories.storyshot
  components/textarea/__docs__/storybook-stories.jsx
  components/textarea/index.jsx
  components/tooltip/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/__docs__/storybook-stories.jsx
  components/visual-picker/__docs__/__snapshots__/storybook-stories.storyshot
  components/visual-picker/__examples__/vertical-coverable.jsx
  package.json
  tests/axe-config.js
  tests/exclude-story-config.js
Labels: accessibility, app-launcher, bread-crumb, carousel, colorpicker, data-table, date-picker, filter, forms: input, global-header, global-navigation-bar, menu-dropdown, pills, popover, setup-assistant, tabs, visual-picker, welcome-mat

#2248 ButtonGroup label support for all variants
  components/button-group/__docs__/__snapshots__/storybook-stories.storyshot
  components/button-group/__examples__/icon-group.jsx
  components/button-group/__examples__/list-variant.jsx
  components/button-group/index.jsx
  components/component-docs.json
Labels: button-group

#2244 ButtonStateful: Add Icon prop
  components/button-stateful/__docs__/__snapshots__/storybook-stories.storyshot
  components/button-stateful/__docs__/storybook-stories.jsx
  components/button-stateful/__examples__/icon-text.jsx
  components/button-stateful/__examples__/icon.jsx
  components/button-stateful/index.jsx
  components/component-docs.json
Labels: button-stateful

#1986 Adding header and footer items for combobox.
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/storybook-stories.jsx
  components/combobox/__examples__/inline-multiple-loading.jsx
  components/combobox/__examples__/inline-single-entity-combobox.jsx
  components/combobox/__examples__/inline-single-search-add-entities.jsx
  components/combobox/__examples__/snapshot/inline-multiple-open-loading.jsx
  components/combobox/__examples__/snapshot/inline-single-entity-combobox.jsx
  components/combobox/__examples__/snapshot/inline-single-search-add-entities-open.jsx
  components/combobox/__tests__/combobox.browser-test.jsx
  components/combobox/combobox.jsx
  components/combobox/component.json
  components/combobox/private/menu.jsx
  components/component-docs.json
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-disabled-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-inline-multiple-selection-loading-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-inline-single-entity-selection-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-inline-single-search-add-entities-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-snapshot-base-disabled-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-snapshot-inline-multiple-open-loading-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-snapshot-inline-single-entity-selection-1-snap.png
  tests/__image_snapshots__/story-based-tests-snapshot-test-js-image-snapshots-image-storyshots-slds-combobox-snapshot-inline-single-search-add-entities-open-1-snap.png
Labels: cla:signed, combobox

#2187 Tabs: Use class name instead of presentation role to DOM event conditional
  components/tabs/index.jsx
Labels: tabs

#2094 Checkbox: Fix error text ids
  components/checkbox/__docs__/__snapshots__/storybook-stories.storyshot
  components/checkbox/__docs__/storybook-stories.jsx
  components/checkbox/__examples__/error.jsx
  components/checkbox/__examples__/snapshot-base.jsx
  components/checkbox/__examples__/snapshot-toggle.jsx
  components/checkbox/__examples__/toggle.jsx
  components/checkbox/index.jsx
  components/component-docs.json
Labels: accessibility, forms: checkbox

#1936 Menu Dropdown: Adds `hover` capabilities w/ keyboard interactions
  components/menu-dropdown/__docs__/__snapshots__/storybook-stories.storyshot
  components/menu-dropdown/button-trigger.jsx
  components/menu-dropdown/menu-dropdown.jsx
Labels: cla:signed
