Repository salesforce/design-system-react, pull requests merged in 2019-12, with the labels that each got.

#2391 Datepicker maintain focus prop
  components/component-docs.json
  components/date-picker/date-picker.jsx
  components/date-picker/private/calendar-wrapper.jsx
Labels: cla:signed, date-picker

#2408 Colorpicker: Added color names to default validator
  components/color-picker/__tests__/color-picker.browser-test.jsx
  components/color-picker/index.jsx
  utilities/color.js
Labels: colorpicker

#2411 Added onRequestTargetElement and hasAnchoredNubbin prop to tooltip
  components/builder-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/component-docs.json
  components/input/__docs__/__snapshots__/storybook-stories.storyshot
  components/menu-dropdown/__docs__/__snapshots__/storybook-stories.storyshot
  components/page-header/__docs__/__snapshots__/storybook-stories.storyshot
  components/progress-indicator/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/__docs__/__snapshots__/storybook-stories.storyshot
  components/tooltip/__docs__/storybook-stories.jsx
  components/tooltip/__examples__/anchored-nubbin.jsx
  components/tooltip/index.jsx
Labels: tooltip

#2426 Remove componentWillReceiveProps
  components/color-picker/index.jsx
  components/combobox/combobox.jsx
  components/component-docs.json
  components/date-picker/date-picker.jsx
  components/lookup/footer.jsx
  components/lookup/header.jsx
  components/lookup/lookup.jsx
  components/lookup/private/item.jsx
  components/menu-dropdown/menu-dropdown.jsx
  components/menu-picklist/index.jsx
  components/notification/index.jsx
  components/time-picker/index.jsx
  components/tree/__tests__/tree.browser-test.jsx
  components/tree/index.jsx
  components/utilities/truncate/index.jsx
Labels: maintenance-task

#2428 Match children prop types as DataTableCell
  components/data-table/highlight-cell.jsx
Labels: data-table
