Repository salesforce/design-system-react, pull requests merged in 2021-01, with the labels that each got.

#2677 DataTable: Add custom header row
  components/component-docs.json
  components/data-table/__docs__/__snapshots__/storybook-stories.storyshot
  components/data-table/__docs__/storybook-stories.jsx
  components/data-table/__examples__/advanced-header-row.jsx
  components/data-table/cell.jsx
  components/data-table/index.jsx
  components/data-table/private/row.jsx
Labels: data-table

#2721 Fix Input styling with inline help text and icons
  components/input/__docs__/__snapshots__/storybook-stories.storyshot
  components/input/__docs__/storybook-stories.jsx
  components/input/__examples__/inline-help.jsx
  components/input/index.jsx
  components/input/private/inner-input.jsx
Labels: forms: input

#2724 Focus correct Combobox listbox option
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/combobox.jsx
  components/component-docs.json
  components/pill-container/index.jsx
  components/pill-container/private/selected-listbox.jsx
  components/utilities/pill/index.jsx
Labels: combobox

#2737 Filter combobox by subTitle using search term
  components/combobox/__docs__/__snapshots__/storybook-stories.storyshot
  components/combobox/__docs__/storybook-stories.jsx
  components/combobox/__examples__/base-with-input.jsx
  components/combobox/filter.js
  components/combobox/private/menu.jsx
Labels: cla:signed

#2740 DataTable: SelectAll issue when header-rows are present
  components/data-table/__examples__/advanced-header-row.jsx
  components/data-table/__tests__/data-table.browser-test.jsx
  components/data-table/index.jsx
Labels: cla:signed

#2746 Fix auto-align of selected item when combo-box is opened
  components/combobox/combobox.jsx
  components/expression/__tests__/expression.browser-test.jsx
Labels: cla:signed
